@model IdentityServer.ViewModels.ManageViewModel
@{
    ViewData["Title"] = "CreatePC";
}
<style>
    .table {
        border-spacing: 0;
        border-collapse: collapse;
    }

        .table > tbody > tr > th,
        .table > tbody > tr > td,
        .table > tfoot > tr > td,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > thead > tr > th {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
</style>
<h1></h1>
<main class="py-4">
    <spark-register-stripe inline-template>
        <div>
            <div class="spark-screen container">
                <!-- Basic Profile -->
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="card card-default">
                            <div class="card-header">
                                <span v-else>
                                    基本信息
                                </span>
                            </div>
                            <div class="card-body">
                                <!--  Form -->
                                <form asp-route="createpc" novalidate id="form-date">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">应用名称</label>
                                        <div class="col-md-6">
                                            <input required="required" placeholder="应用名称" pattern="*" type="text" class="form-control" name="ClientName">
                                            <div class="invalid-feedback">
                                                <small style="font-size:1em;">不能为空</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">网站域名</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" required="required" placeholder="网站域名" pattern="*" name="ClientUri">
                                            <div class="invalid-feedback">
                                                <small style="font-size:1em;">不能为空</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">Logo</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="LogoUri" required="required" placeholder="Logo" pattern="*">
                                            <div class="invalid-feedback">
                                                <small style="font-size:1em;">不能为空</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">授权类型</label>
                                        <div class="col-md-5" style="position:relative;">
                                            <select class="form-control" name="AllowedGrantTypes">
                                                <option value="authorization_code">授权码模式</option>
                                                <option value="hybrid">混合模式</option>
                                                <option value="implicit">简易模式</option>
                                                <option value="password">密码模式</option>
                                                <option value="client_credentials">客户端模式</option>
                                            </select>
                                            <!-- 按钮：用于打开模态框 -->
                                            <button style="position:absolute;right: -56px;top: 0px;" type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>详情
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">开通权限</label>
                                        <div class="col-md-6">
                                            @if (Model.IdentityScopes != null && Model.IdentityScopes.Any())
                                            {
                                                foreach (var scope in Model.IdentityScopes)
                                                {
                                                    <label class="checkbox-inline">
                                                        <input name="AllowedScopes"
                                                               class="disabled"
                                                               checked="@scope.Checked"
                                                               disabled="@scope.Required"
                                                               type="checkbox"
                                                               value="@scope.Name">
                                                        @scope.DisplayName
                                                    </label>
                                                    if (scope.Required)
                                                    {
                                                        <input type="hidden" name="AllowedScopes" value="@scope.Name" />
                                                    }
                                                }
                                            }
                                            @if (Model.ResourceScopes != null && Model.ResourceScopes.Any())
                                            {
                                                foreach (var scope in Model.ResourceScopes)
                                                {
                                                    <label class="checkbox-inline">
                                                        <input name="AllowedScopes"
                                                               class="disabled"
                                                               checked="@scope.Checked"
                                                               disabled="@scope.Required"
                                                               type="checkbox"
                                                               value="@scope.Name">
                                                        @scope.DisplayName
                                                    </label>
                                                    if (scope.Required)
                                                    {
                                                        <input type="hidden" name="AllowedScopes" value="@scope.Name" />
                                                    }
                                                }
                                            }

                                            @*<label class="checkbox-inline disabled">
                                                    <input name="AllowedScopes" class="disabled" checked="checked" disabled="disabled" type="checkbox" id="inlineCheckbox1" value="openid">用户唯一标识
                                                    <input type="hidden" name="AllowedScopes" value="openid" />
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input name="AllowedScopes" type="checkbox" id="inlineCheckbox2" value="profile">获取用户信息
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input name="AllowedScopes" type="checkbox" id="inlineCheckbox1" value="offline_access">离线访问
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input name="AllowedScopes" type="checkbox" id="inlineCheckbox2" value="OtherInfo">获取评论列表
                                                </label>*@
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0">
                                        <div class="col-md-6 offset-md-4">
                                            <button type="submit" class="btn btn-primary" style=" line-height: 31px; width: 110px;    margin-right: 53px; margin-left: 9px;">
                                                <i class="fa fa-btn fa-check-circle"></i>提交
                                            </button>
                                            <a href="create" class="btn btn-primary" role="button" style="line-height: 31px; width: 101px;">返回</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </spark-register-stripe>
</main>
<script type="text/javascript">
    $(function () {
        $("#form-date").submit(function (event) {
            const f = $(this)
            if (f[0].checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
            }
            f.addClass("was-validated")
        })
    })
</script>
<!-- 模态框start -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">response_type对应的AllowedGrantTypes</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">response_type(响应类型)对应的AllowedGrantTypes（流程</div>

                    <!-- Table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>response_type</th>
                                <th>AllowedGrantTypes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>code</td>
                                <td>Authorization Code Flow</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>id_token</td>
                                <td>Implicit Flow</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>id_token token</td>
                                <td>Implicit Flow</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>code id_token</td>
                                <td>Hybrid Flow</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>code token</td>
                                <td>Hybrid Flow</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>code id_token token</td>
                                <td>Hybrid Flow</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>
<!-- 模态框end -->
